<div class="welcome-search-container">
  <div class="Welcome-msg-wrapper">
    <p>Welcome,<span>{{usernameAndTaskCount.username}}</span></p>
    <p>You've got {{usernameAndTaskCount.taskCount}} tasks to do.</p>
  </div>
  <div class="search-wrapper">
    <img src="assets/icons/search-btn-icon.png">
    <input type="text" [(ngModel)]="searchText" placeholder="search">
    <button class="Welcome-cross-btn-wrapper" *ngIf="searchText" (click)="clearSearchBox()">
      <img src="assets/icons/cross-delete-btn.png"></button>
  </div>
</div>