.welcome-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;

  .Welcome-msg-wrapper {
    display: flex;
    flex-direction: column;
    color: #3F3D56;
    font-family: Urbanist;
    font-weight: 700;
    font-style: Bold;
    row-gap: 12px;
    margin-bottom: 40px;

    p {
      color: #3F3D56;
      font-family: Urbanist;
      font-weight: 700;
      font-style: Bold;
      font-size: 28px;
    }

    p:last-child {
      color: #8D9CB8;
      font-family: Urbanist;
      font-weight: 500;
      font-style: Medium;
      font-size: 18px;
    }
  }

  span {
    color: #007FFF;
    font-family: Urbanist;
    font-weight: 700px;
    font-style: Bold;
    font-size: 28px;
  }

  .search-wrapper {
    background-color: #F5F7F9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 14px;
    padding-left: 13px;
    gap: 8px;
    border: none;
    appearance: none;

    button img {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      border: none;
    }

    input {
      border-radius: 5px;
      background-color: #F5F7F9;
      border: none;
      width: 190px;
      height: 38px;
      outline: none;

      &::placeholder {
        font-family: Urbanist;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        color: #C6CFDC;
        padding-left: 15px;
      }
    }
  }
}