<div class="dashboard-outer-container">
  <lst-header></lst-header>
  <lst-welcome-search [taskList]="myTaskList" (search)="onSearch($event)" [message]='prepareWelcomeSearchMessage()'>
  </lst-welcome-search>

  <lst-add-task *ngIf="showAddTask || !(filteredList.length === 0 && completedTaskList.length === 0)"
    (addTastEvent)="addTast($event)" [isNoTaskAddClicked]="isNoTaskCreateBtnClicked">
  </lst-add-task>


  <div *ngFor="let task of filteredList; let i = index">
    @if(i==0){
    <lst-task-card [task]="task" [showDescription]="true" (delete)="deleteTask($event)"
      (editTaskEvent)="editTask($event)" (markTaskCompleteEvent)="markTaskCompleted($event)">
    </lst-task-card>
    } @else {
    <lst-task-card [task]="task" [showDescription]="false" (delete)="deleteTask($event)"
      (editTaskEvent)="editTask($event)" (markTaskCompleteEvent)="markTaskCompleted($event)">
    </lst-task-card>
    }
  </div>

  <div class="dashboard-container" *ngIf="completedTaskList.length > 0">
    <div class="dashboard-complet-wrapper">
      <p> Completed</p>
      <img src="assets/icons/down-arrow-icon.png" alt="down arrow">
    </div>
    <div class="dashboard-delet-wrapper" (click)="CompletedTaskDelete()">
      <button>Delete all</button>
    </div>
  </div>

  <div *ngFor="let task of completedTaskList">
    <lst-task-card [disabled]="task.status=='COMPLETED'" [task]="task" [showDescription]="false"
      (delete)="deleteTask($event)" (editTaskEvent)="editTask($event)">
    </lst-task-card>
  </div>

  <lst-no-task *ngIf="!showAddTask && filteredList.length === 0 && completedTaskList.length === 0"
    [isTaskCountZero]="myTaskList.length === 0" (createTaskClicked)="onCreateTask()"
    (onCreateTaskBtnClickEvent)="onNoTaskCreateBtnClick($event)">
  </lst-no-task>
</div>