<div class="task-container " [ngClass]="disabled ? 'disabled': '' ">
  <div class="task-card-container">
    <div class="checkbox-wrapper">
      <input [disabled]="disabled" type="checkbox" class="custom-checkbox">
    </div>
    <div class="task-content-wrapper">
      <div class="task-title">
        <h3>{{task.title}}</h3>
        <button class="task-btn-icon" (click)="deleteTask(task.id)" *ngIf="disabled"> <img
            src="assets/icons/cross-delete-icon.png" alt="">
        </button>
      </div>
      <p>{{task.description}}</p>
    </div>
  </div>
</div>